<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--logback Padrão do Sistema Para SpringBoot -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Configuração Spring Profile para o Loggly -->
    <springProfile name="production">
        <springProperty name="logglyToken" source="logging.loggly.token" />

        <!--logback Padrão do Loggly -->
        <appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
            <endpointUrl>https://logs-01.loggly.com/inputs/${logglyToken}/tag/logback</endpointUrl>
            <pattern>%d{"ISO8601", UTC} %p %t %c %M - %m%n</pattern>
        </appender>

        <!-- Executa o Log de maneira Assincrona Assim agiliza o Processo-->
        <appender name="logglyAsync" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="loggly" />
        </appender>

        <root level="info">
            <appender-ref ref="logglyAsync" />
        </root>

    </springProfile>

</configuration>
